.confirm-race {
    width: 42rem;
    margin: 0;
    height: 50rem;
    padding: 0;
    overflow-y:scroll; 
}

.confirm-race-header-container {
    background-color: #262e37;
    color: white;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.confirm-race-header {
    margin: 0;
    padding: 0;
    position: sticky;
}

.close-button {
    background-color: #262e37;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.confirm-button {
    background-color: #96bf6b;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: 50%;
    height: 100%;
}

.confirm-container {
    background-color: white;
    padding: 0;
    
}

.cancel {
    width: 50%;
    height: 100%;
}

.race-info {
    margin-left: 2rem;
}