.confirm-race {
    width: 40rem;
    margin: 0;
    height: 10rem;
    padding: 0;
}

.confirm-race-header-container {
    background-color: #262e37;
    color: white;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.confirm-race-header {
    margin: 0;
    padding: 0;
}

.close-button {
    background-color: #262e37;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}