#spell-dropdown-container {
  position: relative;
}

.spell-dropdown {
  /* position: absolute;
  left: -2.3rem;
  top: 2.67rem;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1;
  border-radius: 5px;
  text-align: center;
  background-color: #222222; */

  position: absolute;
  left: -2.3rem;
  top: 2.38rem;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;

  /* background-color: #2e2e2e; */
  background-color: #222222;
}

.spell-dropdown a {
  color: white;
  text-decoration: none;
}
